/* Color palette by http://clrs.cc */

body {
  margin: 0;
  font-size: 18px;
}

body * {
  color: #333;
  font-family: 'Quicksand', sans-serif;
}

main {
  background: #4caf50;
  background: -moz-linear-gradient(-45deg,#4caf50 0%,#5c6bc0 100%);
  background: -webkit-linear-gradient(-45deg,#4caf50 0%,#5c6bc0 100%);
  background: linear-gradient(135deg,#4caf50 0%,#5c6bc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4caf50',endColorstr='#5c6bc0',GradientType=1);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -100000;
}

.content {
  max-width: 800px;
  margin: auto;
  display: block;
  padding: 10px;
}

.box {
  margin: auto;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  max-width: 400px;
  min-width: 100px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.12);
  border-radius: 2px;
  margin-bottom: 20px;
}

.box h2 {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  color: #111;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #333;
  font-size: 28px;
}

.box p {
  font-size: 19px;
  margin: 2px 0 10px 0;
  width: 100%;
  text-align: center;
}

.box a {
  color: #0074D9;
  text-decoration: none;
  transition: all 0.3s ease;
}

.box a:hover {
  text-shadow: 0 0 5px #333;
}

.box img {
  margin: 0;
  filter: brightness(0%);
}

* .color-blue {
  color: #0074D9;
}
